#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem; */
  padding: 0;
  margin: 0;
  /* text-align: center; */
  color: #3425da;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.video-container {
  position: relative;
  width: 100vw;
  height: 100%;
  /* overflow: hidden; */
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1; 
}

.content {
  position: relative;
  z-index: 1;
  background-color: rgba(white, white, white, 1);
  /* color: white; */
  /* text-align: center; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.h2{
  font-size: 1rem;
  margin: 0;
  padding: 1.5rem;
  color: #3425da;
  text-decoration: none;
}

/* Global Form Styles */
/* form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #3425da;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #3425da;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3425da86;
}

.primary{
  color: white;
  /* display: block; */
  background-color: #3425da;
  padding: 0.75rem 1.5rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.533);
  
}

.primary:hover{
  background-color: #3425daa8;
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 3px #f8f8f8;

}
.paragraph{
  color:rgb(247, 248, 248);
  text-shadow: 3px 3px 3px #3425da;
}

.modal {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem;
  border-radius: 20px;
  max-width: 70vw;
  margin: 4rem auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.navbar{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 100px;
  margin: 0;
}

.navbar-text{
  text-decoration: none;
  color: #3425da;
}


.post-container{
  display: flex;
  align-items: center;
}